.navbar {
  background-color: #f9f4f0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5% 6%;
  font-size: small;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  color: rgb(23 119 255);
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.anticon {
  padding-right: 3px;
}

/* For tablets and greater */
@media only screen and (min-width: 768px) {
  /* Your CSS rules for tablets and greater screens go here */
  .navbar {
    font-weight: bold;
  }
}

/* For laptops and larger screens */
@media only screen and (min-width: 1024px) {
  .navbar {
    font-size: large;
  }
}
