.cardContainer {
  display: flex;
  justify-content: space-evenly;
  align-content: baseline;
  flex-wrap: wrap;
  padding: 14% 4%;
  /* height: 100vh; */
  background-color: antiquewhite;
  color: white;
}
.bgRed {
  background-color: #fe0109;
}
.bgLightRed {
  background-color: #b80960;
}
.bgLightBlue {
  background-color: #670aa8;
}
.bgBlue {
  background-color: #0500fa;
}
.card {
  width: 9rem;
  height: 10rem;
  margin: 2%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  /* font-weight: bold; */
}
.card p {
  font-size: x-small;
  margin-bottom: 26%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.tweet-container {
  padding: 4% 4% 9% 4%;
  background: #faead7;
}

.loading-twitter {
  background-color: #faead7;
  height: 40vh;
}

/* CSS for screens between 768px and 1024px (tablets) */
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .cardContainer {
    padding: 7%;
  }
  .card {
    width: 17rem;
  }
  .card p {
    margin-bottom: 18%;
  }
  .tweet-container {
    padding: 1% 6% 13% 6%;
  }
}

/* CSS for laptop screens larger than or equal to 1024px here */
@media only screen and (min-width: 1024px) {
  .cardContainer {
    padding: 7%;
  }
  .card {
    width: 12rem;
  }
  .tweet-container {
    padding: 1% 8% 13% 8%;
  }
}
