.formWrapper {
  padding-top: 12%;
  padding-bottom: 17%;
  background-color: antiquewhite;
  height: 100vh;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
  background-color: #f8f8f8ba;
}

.form-group {
  margin-bottom: 20px;
}

.or {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="file"],
.select-form,
.option-form {
  width: -webkit-fill-available;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #1777ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.target-lengths {
  display: flex;
  text-align: center;
}

.target-lengths > .form-group {
  flex-grow: 1;
}
.margin-select {
  margin: 0 3%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Background color with opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-message {
  background-color: #ede9e0;
  color: #212b36;
  padding: 20px;
  border-radius: 5px;
}

/* For smaller screens such as smartphones in portrait orientation and smaller tablets */
@media (max-width: 768px) {
  .form-container {
    width: 80%;
  }
}

/* For tablets and greater */
@media only screen and (min-width: 768px) {
  .formWrapper {
    padding-top: 7%;
  }
}

/* For laptops and larger screens */
@media only screen and (min-width: 1024px) {
  .formWrapper {
    padding-top: 4%;
  }
  .form-container {
    max-width: 480px;
  }
}
